@font-face {
    font-family: sfpro-display;
    src: url(fonts/sfpro-display.ttf);
}

@font-face {
    font-family: sfpro-display;
    src: url(fonts/sfpro-display-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: sfpro-display-black;
    src: url(fonts/sfpro-display-black.ttf);
}

body {
    margin: 0px;
    font-family: sfpro-display;
    overflow-x: hidden;
}

.navbar-open {
    overflow-y: hidden;
}

.navbar {
    width:100%;
    height:49px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    z-index:2;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow:hidden;
}

.navbar .download-btn {
    background-image: linear-gradient(to right, #8917D8,#3085FF);
    width: 110px;
    color: rgba(255,255,255,0.8);
    padding: 7px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    right: 60px;
    top: 60px;
}

.globe {
    width: 22px;
    position: relative;
    left: 17px;
    top: 14px;
}

.navbar-toggler {
    position: relative;
    left: 74%;
    top: 10px;
    width: 30px;
}

.lang-dropdown-list {
    background-color: rgba(255,255,255,1);
    z-index: 2;
    border-radius: 12px;
    width:25vw;
    display:none;
}

.lang-dropdown-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.lang-dropdown-list li {
    border-radius: 5px;
    width: 90%;
    padding: 6px;
}

.lang-dropdown-list a {
    text-decoration: none;
    color: black;
}

.lang-dropdown-list li:active {
    background-color: gray;
}

.footer-lang-dropdown-list {
    position: absolute;
    left: 70%;
}

#mobile-navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,1);
    display:none;
    color: rgba(255,255,255,0.7);
    padding-top: 10%;
}

#mobile-navbar ul {
    list-style-type: none;
    padding: 0 10% 0 10%;
}

#mobile-navbar ul li {
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 7px 0 7px 0px;
    font-size: 20px;
}

.selected-lang {
    font-family: monospace;
    font-style: normal;
    font-size: 16px;
    color: rgba(255,255,255,0.6);
    position: relative;
    left: 19px;
    top: 8px;
}

.navbar .lang-arrow {
    position: relative;
    top: 7px;
    left: 19px;
    width: 12px;
}

.dark-container {
    background-color: #0E0F1D;
    z-index:0;
    overflow: auto;
}

.dark-container hr {
    margin: 5vh 10vw 5vh 10vw;
}

.telex-logo-white {
    width: 22px;
    height: 18px;
}

.postbox {
    color: #ffffff;
    width: 90vw;
    height: 50%;
    margin: 10% auto 10% auto;
    border-radius: 20px;
    display:block;
}

.postbox .telex-heading {
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    margin-left: 4px;
}

.postbox .heading2 {
    font-size:25px;
}

.postbox .heading2 .colored-motto {
    color: #9b4563;
    font-style: normal;
}

.postbox .desc {
    margin: 1vh 0 1vh 0;
}

.first-postbox {
    margin-top: 7vh;
    padding-top: 3vh;
}

.postbox-large-text {
    font-size: 32px;
}

.postbox .heading3 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}

.postbox .heading4 {
    text-align: center;
    font-weight:bold;
    font-size: 27px;
}

.postbox .orange-text {
    font-style: normal;
    color: #ffad4c;
}

.postbox .yellow-text {
    font-style: normal;
    color: #f8f954;
}

.slidable-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.slidable-list li {
    font-size: 20px;
    border-style: solid;
    border-color: rgba(255,255,255,0.8);
    border-width: 0 0 1px 0;
    padding: 3px;
}

.slidable-list-item-toggler {
    width: 16px;
    position: relative;
    top: 3px;
    float: right;
}

.slidable-list-item-toggler.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: top .1s ease .2s, transform .2s ease .1s;
    -webkit-transition: top .1s ease .2s, -webkit-transform .2s ease .1s;
}

.slide-second-row {
    font-size: 18px;
    color: rgba(255,255,255,0.7);
    padding: 10px 0 10px 0;
    display: none;
}

.feature-screenshot {
    width: 82.13vw;
    margin: 2vh auto 2vh auto;
}

.package-screenshot {
    width: 80.26vw;
    margin: 2vh auto 2vh auto;
}

.dark-postbox-bg {
    background-image: linear-gradient(to bottom, #202430, #171717);
}

.red-postbox-bg {
    background-image: linear-gradient(to bottom, #C43030, #E15454);
}

.motto-postbox {
    height: 45vh;
    padding: 0px;
}

.first-motto {
    font-weight: bold;
    font-size: 28px;
    color: rgba(255,255,255,0.81);
    position: relative;
    left: 20px;
    top: 20px;
}

.second-motto {
    width: 100%;
    height: 76px;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    padding: 0px;
    top: 101px;
    color: rgba(235,232,250,0.91);
}

.yellow-text {
    color: rgba(255,230,1,0.91);
}

.centralized-content {
    text-align:center;
}

.features-postbox {
    height: 45vh;
}

.features-postbox .heading {
    position: relative;
    top: -4px;
    padding-left: 10%;
    font-size: 28px;
    font-weight: bold;
    color: rgba(255,255,255,0.81);
}

.telegram-logo {
    width: 49.42px;
    margin-top: 15px;
}

.apple-icon {
    width: 17px;
    position: relative;
    top: 2px;
    left: -1px;
}

.apple-announce {
    margin-top: 15px;
    font-size: 17px;
}

.download-icon {
    width: 18px;
    /* height: 18px; */
    position: relative;
    top: 2px;
    left: -3px;
}

.appstore-download-btn {
    margin: 43vh auto 22px auto;
    background-image: linear-gradient(to right, #8917D8,#3085FF);
    width: 65vw;
    height: 5vh;
    padding-top: 6px;
    border-radius: 19.5px;
}

.appstore-download-tip {
    color: rgba(255,255,255,0.68);
    font-size: 12px;
}

.iphones {
    width: 100%;
    position: relative;
    margin-top: 95px;
}

.iphones-rounded {
    position: relative;
    width: 100%;
    margin-bottom:400px;
}

.landing-footer {
    background-image: linear-gradient(to right, #23A0DD,#671BFF);
    color: rgba(255,255,255,0.9);
    /* height: 354px; */
}

.breadcrumbs {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
}

.breadcrumbs .lang-arrow {
    position: relative;
    top: -1px;
    width: 12px;
}

.breadcrumbs-hr {
    border-color: rgba(255,255,255,0.3);
    border-width: 1px;
    position: relative;
    top: -5px;
}

.telegram-footer-icon {
    width: 16px;
    margin-right: 5px;
}

#footer-lang-menu {
    width: 15%;
    float: right;
}

.breadcrumbs-golbe {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: 2px;
}

.breadcrumbs-lang {
    font-style: normal;
    font-size: 13px;
    padding-left: 2px;
}

.footer-links {
    list-style-type: none;
    padding-left: 30px;
    margin: 0px;
}

.footer-links li {
    padding-top: 17px;
}

.social-media-links {
    width: 46vw;
    position: relative;
    left: 50%;
    top: -21px;
}

.social-media-icon {
    width: 5vw;
    padding: 0 2.5vw 0 2.5vw;
}

.telex-company-name {
    text-align: center;
    font-size: 13px;
    color: rgba(255,255,255,0.6);
    padding: 0 0 15px 0;
}

/* start of mobile navbar part */
#mobile-menu {
    display: block;
    position: relative;
    cursor: pointer;
    float: right;
    width: 30px;
    padding: 6px 0 9px 30px; 
    box-sizing: border-box;
    margin: 20px;
}

#mobile-menu span {
    height: 1px;
    width: 30px;
    display: block;
    content: "";
    position: absolute;
    right: 50%;
    margin-right: -15px;
}

#mobile-menu span:before, 
#mobile-menu span:after {
    height: 1px;
    width: 30px;
    background: rgba(255,255,255,0.8);
    display: block;
    content: "";
    position: absolute;
    right: 50%;
    margin-right: -15px;
}

#mobile-menu span:before {
    top: -6px;
    transition: top .2s ease .2s, transform .2s ease;
    -webkit-transition: top .2s ease .2s, -webkit-transform .2s ease;
}

#mobile-menu span:after {
    bottom: -6px;
    transition: bottom .2s ease .2s, transform .2s ease;
    -webkit-transition: bottom .2s ease .2s, -webkit-transform .2s ease;
}

#mobile-menu.active span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: top .2s ease .1s, transform .2s ease .3s;
    -webkit-transition: top .2s ease .1s, -webkit-transform .2s ease .3s;
}

#mobile-menu.active span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: bottom .2s ease .1s, transform .2s ease .3s;
    -webkit-transition: bottom .2s ease .1s, -webkit-transform .2s ease .3s;
}
/* end of mobile navbar part */

/* start of plane animation */
/*
@keyframes rotate {
    0% {
        -webkit-transform: rotate(+0deg) translateX(0px) rotate(-0deg);
    }

    30% {
        -webkit-transform: rotate(-30deg) translateX(20vw) rotate(+30deg);
    }

    50% {
        -webkit-transform: rotate(-195deg) translateX(60vw) rotate(+195deg);
    }

    100% {
        -webkit-transform: rotate(-180deg) translateX(43vw) rotate(+180deg);
    }
}
*/

@keyframes rotate {
    0% {
        -webkit-transform: rotate(+0deg) translateX(0px) rotate(-0deg);
    }

    30% {
        -webkit-transform: rotate(-60deg) translateX(100px) rotate(+60deg);
        left: 60%;
        top: -10%;
    }

    50% {
        left: -10%;
    }

    80% {
        top: 30%;
    }

    100% {
        -webkit-transform: rotate(-300deg) translateX(0px) rotate(+300deg);
        left: 2%;
    }
}

@keyframes move-to-right {
    77%  {margin-left: 0px;}
    100% {margin-left: 40px;}
}

#telex-logo {
    width: 39px;
    position: absolute;
    top: 10%;
    left: 45%;
    animation: rotate 1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}


#top-lang-menu {
    display:inline;
    animation: move-to-right 1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.nav-lang-dropdown-list {
    position: fixed;
    left: 10px;
    top: 43px;
    animation: move-to-right 1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes move-up {
    77%  {top: 10vh;}
    100% {top: 1.5vh;}
}

.navbar .download-btn {
    animation: move-up 1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
/* end of plane animation */